/* ######### Variables de color ############ */
:root {
    --color-primario: midnightblue;
    --color-secundario: orange;
    --color-base: white;
}
/*  layouts/app */
.navbar {background: var(--color-primario);}

.navbar-nav { gap: 1rem;}

.navbar-nav a {
    color: var(--color-base);
    font-size: larger;
}
.navbar-nav a:hover {color: var(--color-secundario);}

.navbar-nav button:hover { color: darkred;}

/* welcome.blade.php */
.seccion-inicial {
    padding-top: 2rem;
    min-height: 100vh;
    background-image: url("/img/inicio.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: var(--color-primario);
}

.barra-especialidades {
    background: var(--color-primario);
    border-radius: 5rem 0 0 5rem;
}

.barra-asesoria {
    background: var(--color-primario);
    color: var(--color-base);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 5rem 5rem 0;
}

.barra-medicina {background: var(--color-primario);}

footer i {
    font-size: 1rem;
    display: flex;
    background: var(--color-secundario);
    border-radius: 50%;
    border: 2px solid yellow;
}
.pie-decorativo {
    height: 30rem;
    background-image: url("/img/footer.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.copyright { background: var(--color-primario);}

/* Formularios */
.form { margin-top: 4rem;}

.form-control { background: rgb(224, 223, 223);}

label { width: 20%;}

.footer {background: rgb(6, 6, 62);}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* Ajustes para pantallas pequeñas */
    .register {
        margin: 0;
        padding: 0;
    }
    .logo { height: 2.5rem;}

    .info-header { display: none;}

    .navbar-nav a {
        font-size: medium;
        border-bottom: 1px solid white;
        width: 100%;
    }

    .navbar-toggler i {
        color: var(--color-base);
        font-size: 2rem;
        border: none;
        background: none;
    }

    .seccion-inicial {
        min-height: 70vh;
        background-image: url("/img/movill.png");
    }

    .seccion-inicial .conten {
        text-align: center;
        gap: 2rem;
    }

    .seccion-inicial span {
        width: 100%;
    }

    .barra-especialidades {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 1rem;
        border-radius: 2rem 0;
        align-items: center;
    }

    .barra-especialidades li {
        display: flex;
        text-align: left;
    }

    .seccion-presentacion {
        flex-direction: column;
        align-items: center;
    }

    .seccion-presentacion img {
        width: 100%;
        border: none;
        padding: 0;
    }

    .barra-medicina {
        height: auto;
        padding: 1rem;
    }

    label { width: 40%; }

    .pie-decorativo {
        height: 10rem;
        margin: 0.5rem ;
    }

    .menu-overlay {
        /* estilos para el menú desplegable */
        position: absolute;
        top: 100%; /* justo debajo de la navbar */
        left: 20%;
        width: 35%;
        background: var(
            --color-primario
        );
        z-index: 1000;
        padding: 1rem 0;
        border-radius: 0 0 1rem 1rem;
        border: solid 1px rgb(6, 6, 62);
    }

    .menu-overlay .nav-link { padding: 0.5rem;}
}

@media screen and (max-width: 820px) {
    /* Ajustes para pantallas medianas */
    .menu-overlay {
        position: absolute;
        top: 100%; /* justo debajo de la navbar */
        left: 70%;
        width: 35%;
        background: var(
            --color-primario
        );
        z-index: 1000;
        padding: 1rem;
        border-radius: 0 0 1rem 1rem;
        border: solid 1px rgb(6, 6, 62);
    }

    .menu-overlay .nav-link {  padding: 0.5rem; }
}

/* trabajos realizados */
.img-carousel {
    max-width: 700px;
    max-height: 400px;
    object-fit: cover;
}
