/*CSS para el panel de admin */

body { background: rgb(240, 240, 240);}

.grafico-panel { margin-top: 5rem;}

.barra-lateral {
    position: fixed;
    top: 72px; /* altura real de tu header */
    left: 0;
    height: calc(100vh - 72px);
    overflow-y: auto;
    z-index: 1000;
}

.header-admin { background: midnightblue;}

.mensaje {
    color: blue;
    padding: 7px;
}

.magen-top { margin-top: 7rem;}

.logo { border-radius: 5px;}
